/* Start Game Board*/
body {
    margin: 0;
    font-family: "Helvetica", "Verdana", "Roboto", sans-serif;
}

h1 {
    margin: 0 0 15px;
    padding: 15px;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    background-color: #1f90ff;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@import "includes/entry-form";
@import "includes/game-board";