/* Start Entry Form */
#portal {
    form {
        background-color: #c6c6c6;
        max-width: 400px;
        margin: 0 auto;
        padding: 1rem;

        label {
            font-size: 18px;
            font-weight: 500;
            margin-top: 8px;
            width: 100%;
        }

        input, select {
            padding: 8px 12px;
            width: 100%;
            max-width: 100%;
            margin-top: 4px;
            font-size: 16px;
        }

        input[type=text] {
            width: calc(100% - 24px);
        }

        label > input[type=text] {
            width: calc(100% - 28px);
        }

        input[type=submit] {
            margin-top: 8px;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }

        #roomID {

        }
    }

}
